.services {
  width: 100vw;
  height: 100vh;
  color: white;
  padding: 10px;
  background-color: yellow;
}

.top_left {
  width: 1198px;
  height: 115px;
  left: 116px;
  top: 95px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 115px;

  color: #000000;
  background-color: blue;
}

.top_right {
  position: absolute;
  width: 225px;
  height: 301px;
  left: 1511px;
  top: 75px;
}

.botton {
  background-color: aqua;
}

.botton_options {
  background-color: blueviolet;
  padding: 10px;
  margin: 10px;
}

.options_top {
  display: flex;
}

.options_mid {
  display: flex;
}
.options_bot {
  display: flex;
}

.patient_icon {
  width: 200px;
  height: 200px;
  background-color: red;
}

.hospital_icon {
  width: 200px;
  height: 200px;
  background-color: red;
}

.staff_icon {
  width: 200px;
  height: 200px;
  background-color: red;
}
.paitents {
  flex-direction: row;
}
