.about {
  width: 100vw;
  height: 100vh;
  background-color: white;
}
.about_title {
  position: absolute;
  width: 254px;
  height: 77px;
  left: 144px;
  top: 166px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;

  color: #000000;
}
.logo_about {
  position: absolute;
  width: 435px;
  height: 199px;
  left: 1283px;
  top: 436px;
}
.photo_about {
  position: absolute;
  width: 1024px;
  height: 576px;
  left: 448px;
  top: 1542px;
}
.login_panel {
  position: absolute;
  width: 300px;
  height: 80px;
  left: 1418px;
  top: 189px;

  background: #1ca4ac;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  border-radius: 23px;

  color: #ffffff;
}
.login_panel:hover {
  background-color: #ffffff;
  color: rgba(0, 255, 255, 0.5);
  border-color: rgba(0, 255, 213, 0.5);
}

.text_left {
  position: absolute;
  width: 1110px;
  height: 303px;
  left: 168px;
  top: 376px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: justify;

  color: #000000;
}

.text_mid {
  position: absolute;
  width: 1579px;
  height: 835px;
  left: 168px;
  top: 750px;
  text-align: justify;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;

  color: #000000;
}
.text_bot {
  position: absolute;
  width: 1581px;
  height: 493px;
  left: 168px;
  top: 2146px;
  text-align: justify;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;

  color: #000000;
}
