.patient_cards {
  flex: 1 1 0; /* Elastyczność w szerokości i wysokości */
  max-width: 300px; /* Maksymalna szerokość karty */
  min-width: 200px; /* Minimalna szerokość, aby zapobiec całkowitemu zwężeniu */
  min-height: 350px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden; /* Ukrycie nadmiarowej zawartości */
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

.patient_cards:hover {
  transform: scale(1.05);
}
