.home {
  color: white;
  width: 100vw;
  height: 100vh;
}
.background {
  position: absolute;
  width: 1851px;
  height: 922px;
  left: 0px;
  right: 0px;
}

.transparency {
  position: absolute;
  width: 850px;
  height: 922px;
  left: 100px;
  top: 0px;

  background: rgba(0, 71, 83, 0.7);
}

.title {
  position: absolute;
  width: 300px;
  height: 306px;
  left: 65px;
  top: 200px;
  text-align: left;

  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 85px;
  line-height: 102px;

  color: #ffffff;
}

.subtitle {
  position: absolute;
  width: 514px;
  height: 48px;
  left: 64px;
  top: 540px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height */
  text-align: left;

  color: #ffffff;
}

.home_botton_about {
  position: absolute;
  width: 135px;
  height: 43px;
  left: 691px;
  top: 855px;

  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  text-align: center;

  color: #ffffff;
}

.home_botton_about:hover {
  color: blue;
  text-decoration: underline;
}

.website {
  position: absolute;
  width: 427px;
  height: 43px;
  left: 64px;
  top: 855px;

  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  text-align: center;

  color: #ffffff;
}

.phone {
  position: absolute;
  width: 276px;
  height: 43px;
  left: 64px;
  top: 738px;

  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  text-align: left;

  color: #ffffff;
}

.call_now {
  position: absolute;
  width: 150px;
  height: 43px;
  left: 64px;
  top: 684px;

  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  text-align: center;

  color: #ffffff;
}

.logo {
  position: absolute;
  width: 350px;
  height: 160.92px;
  left: 65px;
  top: 39px;
  border-radius: 23px;
}

.login_button {
  position: absolute;
  width: 250px;
  height: 60px;
  left: 491px;
  top: 697px;
  border-radius: 23px;

  background: #1ca4ac;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  text-align: center;

  color: #ffffff;
}

.login_button:hover {
  background-color: #ffffff;
  color: rgba(0, 255, 255, 0.5);
  border-color: rgba(0, 255, 213, 0.5);
}

.line {
  position: absolute;
  width: 600px;
  height: 0px;
  left: 104px;
  top: 641px;

  border: 2px solid #ffffff;
}
